---
import HomeComp from "../components/HomeComp.astro";
import { astroI18n, t } from "astro-i18n";

import img1 from '../../src/assets/img/cremona/cremona_12.png';
import img2 from '../../src/assets/img/cremona/cremona_13.png';
import img3 from '../../src/assets/img/cremona/cremona_14.png';
import img4 from '../../src/assets/img/cremona/cremona_15.png';
import img5 from '../../src/assets/img/cremona/cremona_16.png';

const projects = [
    { 
        Title: t("projects.0.Title"), 
        Category: t("projects.0.Category"), 
        year: t("projects.0.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.0.description"),
        link: "https://www.energyoo.com/",
        linkText: "Energyoo",
        collaborators: []
    },

    { 
        Title: t("projects.1.Title"), 
        Category: t("projects.1.Category"), 
        year: t("projects.1.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.1.description"),
        link: "https://rosalia-pansida.webflow.io/",
        linkText: "BY.IT",
        collaborators: [
            { name: "Giulia Cangini", link: "" },
            { name: "Arianna Cecchet", link: "" },
            { name: "Elisa Corbetta", link: "https://www.instagram.com/elisa.corbetta/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
            { name: "Sara Ibarra", link: "" },
            { name: "Andrea Piersimoni", link: "https://www.instagram.com/andreapiersimoni/" },
        ]
    },

    { 
        Title: t("projects.2.Title"), 
        Category: t("projects.2.Category"), 
        year: t("projects.2.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.1.description"),
        link: "https://100km.studio/",
        linkText: "100km studio",
        collaborators: [
            { name: "Caterina di Noia", link: "" },
        ]
    },
    

    { 
        Title: t("projects.3.Title"), 
        Category: t("projects.3.Category"), 
        year: t("projects.3.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.3.description"),
        link: "",
        linkText: "",
        collaborators: []

    },

    { 
        Title: t("projects.4.Title"), 
        Category: t("projects.4.Category"), 
        year: t("projects.4.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.4.description"),
        link: "http://rawscenarios.labsintesi-c1.info/2024/Tuna/",
        linkText: "Neptuna - Raw Scenarios",
        collaborators: [
            { name: "Sara Balestrini", link: "https://www.instagram.com/meditoalcentrodelsole/" },
            { name: "Asia Capezzuoli", link: "https://www.instagram.com/asiacapezzuoli/" },
            { name: "Eva Cupellini", link: "https://www.instagram.com/eva.cupellini/" },
            { name: "Edoardo Bignami", link: "https://www.instagram.com/edobigna/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
        ]

    },

    { 
        Title: t("projects.5.Title"), 
        Category: t("projects.5.Category"), 
        year: t("projects.5.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.5.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Dorian Wally Abialy", link: "https://www.instagram.com/abialydorian/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
            { name: "Luisa Frezza", link: "https://www.instagram.com/effeperfrezza/" },
            { name: "Edoardo Bignami", link: "https://www.instagram.com/edobigna/" },
        ]

    },

    { 
        Title: t("projects.6.Title"), 
        Category: t("projects.6.Category"), 
        year: t("projects.6.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.6.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Luigi Farrauto", link: "https://x.com/centochilometri" },
            { name: "100km studio", link: "https://100km.studio/" },
            
        ]

    },

    { 
        Title: t("projects.7.Title"), 
        Category: t("projects.7.Category"), 
        year: t("projects.7.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.7.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Luigi Farrauto", link: "https://x.com/centochilometri" },
            { name: "100km studio", link: "https://100km.studio/" },
            
        ]

    },

    { 
        Title: t("projects.8.Title"), 
        Category: t("projects.8.Category"), 
        year: t("projects.8.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.8.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Eva Cupellini", link: "https://www.instagram.com/eva.cupellini/" },
   
        ]

    },

    { 
        Title: t("projects.9.Title"), 
        Category: t("projects.9.Category"), 
        year: t("projects.9.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.9.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Benedetta Giugni", link: "https://www.instagram.com/benedettagiugni.jpg/" },
            { name: "Pierfrancesco Pascuzzi", link: "https://www.instagram.com/pier.pascuzzi/" },
            { name: "Giulia Polimeno", link: "https://www.instagram.com/giuliapolimeno/" },
        ]

    }

];
---

<div class="absolute bottom-0 left-0 right-0 h-[100vh] px-2 pb-2 pt-24 overflow-y-auto no-scrollbar flex flex-col max-sm:pt-72 max-sm:pb-12">
    <div class="mt-auto">
        {projects.map((project, index) => (
            <HomeComp 
                Title={project.Title} 
                num={(index + 1).toString()}  
                year={project.year} 
                Category={project.Category} 
                images={project.images} 
                description={project.description}
                link={project.link}
                linkText={project.linkText}
                collaborators={project.collaborators}
            />
        ))}
    </div>
</div>
