---
import HomeComp from "../components/HomeComp.astro";
import Image from "astro:assets";
import { t } from "astro-i18n";

import img1 from '../../src/assets/img/cremona/cremona_20.png' ;
import img2 from '../../src/assets/img/cremona/cremona_13.png';
import img3 from '../../src/assets/img/cremona/cremona_18.png';
import img4 from '../../src/assets/img/cremona/cremona_15.png';
import img5 from '../../src/assets/img/cremona/cremona_16.png';

import imgbyit1 from '../../src/assets/img/byit/BY_IT-MOCKUP-1.jpg';
import imgbyit2 from '../../src/assets/img/byit/BY_IT-MOCKUP-2.jpg';
import imgbyit3 from '../../src/assets/img/byit/BY_IT-MOCKUP-3.jpg';
import imgbyit4 from '../../src/assets/img/byit/BY_IT-MOCKUP-4.jpg';
import imgbyit5 from '../../src/assets/img/byit/BY_IT-MOCKUP-5.jpg';
import imgbyit6 from '../../src/assets/img/byit/BY_IT-MOCKUP-6.jpg';
import type { ACTION_ERROR_CODES } from "astro:actions";

const projects = [
    { 
        Title: t("projects.12.Title"), 
        Category: t("projects.12.Category"), 
        year: t("projects.12.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.12.description"),
        link: "",
        video: [
            '../../src/assets/video/KINESIS VIDEO SITO.mp4'
        ],
        linkText: "",
        collaborators: [
            { name: "Pietro Buffa", link: "https://pietrobuffa.it/" },
            { name: "Pierluigi Anselmi", link: "https://pietrobuffa.it/" },
            { name: "Alessandro Busseni", link: "https://pietrobuffa.it/" },
            { name: "Giada", link: "https://pietrobuffa.it/" },
            { name: "Marco Gariele", link: "https://pietrobuffa.it/" },
        ]
    },
    { 
        Title: t("projects.11.Title"), 
        Category: t("projects.11.Category"), 
        year: t("projects.11.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.11.description"),
        link: "https://designspazialeitaliano.it/",
        video: [
        ],
        linkText: "Design Spaziale Italiano",
        collaborators: [
            { name: "Pietro Buffa", link: "https://pietrobuffa.it/" },
            { name: "Pierluigi Anselmi", link: "https://pietrobuffa.it/" },
            { name: "Alessandro Busseni", link: "https://pietrobuffa.it/" },
            { name: "Giada", link: "https://pietrobuffa.it/" },
            { name: "Marco Gariele", link: "https://pietrobuffa.it/" },
            { name: "Giacomo Quinland", link: "https://pietrobuffa.it/" },
            { name: "Beatrice", link: "https://pietrobuffa.it/" },
            { name: "Propp", link: "https://propp.it/" },
        ]
    },

    { 
        Title: t("projects.10.Title"), 
        Category: t("projects.10.Category"), 
        year: t("projects.10.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.10.description"),
        link: "https://propp.it/",
        video: [
            '../../src/assets/video/TP Alpi Treni.mp4',
            '../../src/assets/video/TP Alpi Kaunertal Video.mp4',
        ],
        linkText: "Propp",
        collaborators: [
            { name: "Pietro Buffa", link: "https://pietrobuffa.it/" },
        ]
    },

    { 
        Title: t("projects.0.Title"), 
        Category: t("projects.0.Category"), 
        year: t("projects.0.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.0.description"),
        link: "https://www.energyoo.com/",
        linkText: "Energyoo",
        collaborators: []
    },

    { 
        Title: t("projects.1.Title"), 
        Category: t("projects.1.Category"), 
        year: t("projects.1.year"), 
        images: [imgbyit1, imgbyit2, imgbyit3, imgbyit4, imgbyit5, imgbyit6],
        video: [
            '../../src/assets/video/byit-article-video-2.mp4',
            '../../src/assets/video/byit-article-video-1.mp4', 
            '../../src/assets/video/byit-article-video-3.mp4',
        ],
        description: t("projects.1.description"),
        link: "https://rosalia-pansida.webflow.io/",
        linkText: "BY.IT",
        collaborators: [
            { name: "Giulia Cangini", link: "" },
            { name: "Arianna Cecchet", link: "" },
            { name: "Elisa Corbetta", link: "https://www.instagram.com/elisa.corbetta/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
            { name: "Sara Ibarra", link: "" },
            { name: "Andrea Piersimoni", link: "https://www.instagram.com/andreapiersimoni/" },
        ]
    },

    { 
        Title: t("projects.2.Title"), 
        Category: t("projects.2.Category"), 
        year: t("projects.2.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.1.description"),
        link: "https://100km.studio/",
        linkText: "100km studio",
        collaborators: [
            { name: "Caterina di Noia", link: "" },
        ]
    },
    

    { 
        Title: t("projects.3.Title"), 
        Category: t("projects.3.Category"), 
        year: t("projects.3.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.3.description"),
        link: "",
        linkText: "",
        collaborators: []

    },

    { 
        Title: t("projects.4.Title"), 
        Category: t("projects.4.Category"), 
        year: t("projects.4.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.4.description"),
        link: "http://rawscenarios.labsintesi-c1.info/2024/Tuna/",
        linkText: "Neptuna - Raw Scenarios",
        collaborators: [
            { name: "Sara Balestrini", link: "https://www.instagram.com/meditoalcentrodelsole/" },
            { name: "Asia Capezzuoli", link: "https://www.instagram.com/asiacapezzuoli/" },
            { name: "Eva Cupellini", link: "https://www.instagram.com/eva.cupellini/" },
            { name: "Edoardo Bignami", link: "https://www.instagram.com/edobigna/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
        ]

    },

    { 
        Title: t("projects.5.Title"), 
        Category: t("projects.5.Category"), 
        year: t("projects.5.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.5.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Dorian Wally Abialy", link: "https://www.instagram.com/abialydorian/" },
            { name: "Simone Iasevoli", link: "https://www.instagram.com/simone_iasevoli/" },
            { name: "Luisa Frezza", link: "https://www.instagram.com/effeperfrezza/" },
            { name: "Edoardo Bignami", link: "https://www.instagram.com/edobigna/" },
        ]

    },

    { 
        Title: t("projects.6.Title"), 
        Category: t("projects.6.Category"), 
        year: t("projects.6.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.6.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Luigi Farrauto", link: "https://x.com/centochilometri" },
            { name: "100km studio", link: "https://100km.studio/" },
            
        ]

    },

    { 
        Title: t("projects.7.Title"), 
        Category: t("projects.7.Category"), 
        year: t("projects.7.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.7.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Luigi Farrauto", link: "https://x.com/centochilometri" },
            { name: "100km studio", link: "https://100km.studio/" },
            
        ]

    },

    { 
        Title: t("projects.8.Title"), 
        Category: t("projects.8.Category"), 
        year: t("projects.8.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.8.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Eva Cupellini", link: "https://www.instagram.com/eva.cupellini/" },
   
        ]

    },

    { 
        Title: t("projects.9.Title"), 
        Category: t("projects.9.Category"), 
        year: t("projects.9.year"), 
        images: [img1, img2, img3, img4, img5],
        description: t("projects.9.description"),
        link: "",
        linkText: "",
        collaborators: [
            { name: "Benedetta Giugni", link: "https://www.instagram.com/benedettagiugni.jpg/" },
            { name: "Pierfrancesco Pascuzzi", link: "https://www.instagram.com/pier.pascuzzi/" },
            { name: "Giulia Polimeno", link: "https://www.instagram.com/giuliapolimeno/" },
        ]

    }

];
---

<div class="absolute bottom-0 left-0 right-0 h-[100vh] px-2 pb-2 pt-24 overflow-y-auto no-scrollbar flex flex-col max-md:pt-[66vh] max-md:pb-12">
    <div class="mt-auto">
        {projects.map((project, index) => (
            <HomeComp 
                Title={project.Title} 
                num={(index + 1).toString()}  
                year={project.year} 
                Category={project.Category} 
                images={project.images ?? []}  
                video={project.video ?? []} 
                description={project.description}
                link={project.link}
                linkText={project.linkText}
                collaborators={project.collaborators}
            />
        ))}
    </div>
</div>