---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { astroI18n, t } from "astro-i18n";
astroI18n.locale;


const birthDate = new Date(2000, 11, 4); 
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
const isBeforeBirthdayThisYear = today.getMonth() < birthDate.getMonth() || 
    (today.getMonth() === birthDate.getMonth() && today.getDate() < birthDate.getDate());
if (isBeforeBirthdayThisYear) {
    age--; 
}
---

<div class="grid grid-cols-4 sm:grid-cols-12 w-full fixed px-2 pt-2 z-50 justify-between items-start text-white mix-blend-difference " transition:persist >
    <div x-data="{ showAbout: false }" class="col-span-2 sm:col-span-9 pr-2">
        <!-- <div class="max-sm:mb-1">
           <a @click="showAbout = !showAbout" class="cursor-pointer sm:hover:opacity-40 transition-opacity">Matteo Postinghel</a> 
        </div>
        <div x-show="showAbout" x-cloak x-transition.opacity.duration.150ms class="max-sm:space-y-1 max-w-screen-lg">
            <p>{t("nav.year")} {age}</p>
            <p>{t("nav.from")}</p>
            <p>{t("nav.location")}</p>
            <p>{t("nav.profession")}</p>
            <p>{t("nav.currently")}<a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity"> Propp Studio</a></p>
            <div class="sm:hidden space-y-1">
                <br>
                <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Email</a></div>
                <div><a href="https://www.linkedin.com/in/matteo-postinghel/" class="hover:opacity-40 transition-opacity" target="_blank">LinkedIn</a></div>
                <div><a href="https://www.instagram.com/matteo.post/" class="hover:opacity-40 transition-opacity" target="_blank">Instagram</a></div>
                <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Curriculum</a></div>
            </div>
        </div> -->

            <a @click="showAbout = !showAbout" class="cursor-pointer sm:hover:opacity-40 transition-opacity sm:col-span-2">Matteo Postinghel</a> 
            <!-- <p x-show="showAbout" x-cloak x-transition.opacity.duration.150ms >{t("nav.year")} {age}</p>
            <p x-show="showAbout" x-cloak x-transition.opacity.duration.150ms class="col-span-2">{t("nav.from")}</p>
            <p x-show="showAbout" x-cloak x-transition.opacity.duration.150ms class="col-span-2">{t("nav.location")}</p> -->
            <div class="sm:hidden">
                <LanguageSwitcher showCurrent={true} labels={{ en: "EN", it: "IT" }} />
            </div>
            
         <div x-show="showAbout" x-cloak x-transition.opacity.duration.150ms class="max-sm:space-y-1 max-w-screen-lg">
             <div class="grid grid-cols-1 sm:grid-cols-9">
                <p class="col-span-9">{age} years old Communication Designer from Munich, Germany based in Milan, Italy.</p>
             </div>
             <br>
             <div class="grid grid-cols-3 sm:grid-cols-9">
                <p class="col-span-1 sm:col-span-2">Experience:</p>
                <p class="col-span-2 sm:col-span-7">Interaction designer intern at <a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity">Propp Studio</a> [2024-ongoing]</p>
                <p class="col-span-1 sm:col-span-2"></p>
                <p class="col-span-2 sm:col-span-7">Graphic designer intern at <a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity">100km Studio</a> [2021-2022]</p>
                <p class="col-span-1 sm:col-span-2"></p>
                <p class="col-span-2 sm:col-span-7">Graphic designer intern at <a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity">Labirinto</a> [2019]</p>
             </div>
             <br>
             <div class="grid grid-cols-3 sm:grid-cols-9">
                <p class="col-span-1 sm:col-span-2">Education:</p>
                <p class="col-span-2 sm:col-span-7">Interaction designer intern at <a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity">Propp Studio</a> [2024-ongoing]</p>
                <p class="col-span-1 sm:col-span-2"></p>
                <p class="col-span-2 sm:col-span-7">MA, Communication design at <a href="https://propp.it/" target="_blank" class="sm:hover:opacity-40 transition-opacity">Politecnico di Milano</a> [2021-2022]</p>
             </div>
             <div class="sm:hidden space-y-1">
                 <br>
                 <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Email</a></div>
                 <div><a href="https://www.linkedin.com/in/matteo-postinghel/" class="hover:opacity-40 transition-opacity" target="_blank">LinkedIn</a></div>
                 <div><a href="https://www.instagram.com/matteo.post/" class="hover:opacity-40 transition-opacity" target="_blank">Instagram</a></div>
                 <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Curriculum</a></div>
             </div>
         </div>


        <div 
            x-data="{ showCookie: localStorage.getItem('cookieAccepted') !== 'true' }" 
            class="text-white mix-blend-difference mt-4">
            
            <div 
                x-show="showCookie" 
                x-cloak 
                x-transition.opacity.duration.150ms 
                class="max-w-72">
                
                <p>{t("nav.cookie")}</p>
                <button 
                    @click="showCookie = false; localStorage.setItem('cookieAccepted', 'true')" 
                    class="rotate-45 transform cursor-pointer hover:opacity-40 transition-colors">+</button>
            </div>
        </div>
    </div>


    <div class="col-span-2 sm:col-span-2 max-sm:hidden sm:flex items-center text-white mix-blend-difference relative">
        <LanguageSwitcher showCurrent={true} labels={{ en: "EN", it: "IT" }} />

    </div>

    <div x-data="{ showContact: false }" class="justify-end max-sm:hidden">
        <div class="text-right">
            <p @click="showContact = !showContact" class="justify-self-end hover:opacity-40 cursor-pointer">{t("nav.contact")}</p>
        </div>
        <div x-show="showContact" x-cloak x-transition.opacity.duration.100ms class="sm:text-right sm:ml-auto text-white mix-blend-difference z-40">
            <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Email</a></div>
            <div><a href="https://www.linkedin.com/in/matteo-postinghel/" class="hover:opacity-40 transition-opacity" target="_blank">LinkedIn</a></div>
            <div><a href="https://www.instagram.com/matteo.post/" class="hover:opacity-40 transition-opacity" target="_blank">Instagram</a></div>
            <div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40 transition-opacity">Curriculum</a></div>
        </div>
    </div>
</div>
