---
interface Props {
    itTitle: string;
    enTitle: string;
    num: string;
    year: string;
    itCategory: string;
    enCategory: string;

}

const { itTitle, enTitle, num, year, itCategory, enCategory,} = Astro.props;
---

<div class="fixed bottom-0 p-2 w-full">
    <div class="grid grid-cols-2 sm:grid-cols-12 leading-tight max-sm:py-2">
        <p class="col-span-1 ">[{num}]</p>
        <div class="col-span-1 sm:col-span-8">
            <p class="it uppercase link">
                {itTitle}
            </p>
            <p class="en uppercase link">
                {enTitle}
            </p>
        </div>
        <div class="col-span-1 sm:hidden"></div>
        <p class="it col-span-1 sm:col-span-2 ">{itCategory}</p>
        <p class="en col-span-1 sm:col-span-2 ">{enCategory}</p>
        <div class="col-span-1 sm:hidden"></div>
        <p class="col-span-1  sm:justify-self-end">{year}</p>
    </div>
</div>


