---
import Home2Comp from "../components/Home2Comp.astro";

const projects = [
    { itTitle: "Energyoo",
    enTitle: "Energyoo", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    enCategory: "Identità visiva",
    itCategory: "Brand identity" },
    
    { itTitle: "By.it", 
    enTitle: "By.it", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    enCategory: "Web design",
    itCategory: "Web design" },
    
    { itTitle: "Raw Scenarios",
    enTitle: "Raw Scenarios",
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    enCategory: "Web design",
    itCategory: "Web design" },
    
    { itTitle: "Cinema e Fotografia", 
    enTitle: "Cinema and fotography", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    enCategory: "Editoria",
    itCategory: "Editorial" },
    
    { itTitle: "Neptuna", 
    enTitle: "Neptuna",
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    enCategory: "Design speculativo",
    itCategory: "Speculative design " },
    
    { itTitle: "Saper fare liutaio di cremona", 
    enTitle: "Cremona luthier", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    enCategory: "Identità visiva",
    itCategory: "Brand identity" },
    
    { itTitle: "Concetto di redesign della mappa della metropolitana di Milano", 
    enTitle: "Milan Metro Map Redesign concept", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    enCategory: "Cartografia",
    itCategory: "Cartography" },
    
    { itTitle: "100km studio", 
    enTitle: "100km studio", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    enCategory: "Web design",
    itCategory: "Web design" },
    
    { itTitle: "anatomia dell'orchestra", 
    enTitle: "anatomy of the orchestra", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2022", 
    enCategory: "Web design",
    itCategory: "Web design" },
    
    { itTitle: "Rappresentazione dell'assenza e dell'essenza del nero",
    enTitle: "Representation of the absence and essence of blackness", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2021", 
    enCategory: "Editoria",
    itCategory: "Editorial" },
    
    
];
---

<div class="sm:fixed sm:bottom-2 max-sm:pt-12 px-2 sm:w-full">
    {projects.map((project, index) => (
        <Home2Comp 
            itTitle={project.itTitle} 
            enTitle={project.enTitle} 
            link={project.link} 
            num={(index + 1).toString()} 
            year={project.year} 
            img={project.img} 
            enCategory={project.enCategory} 
            itCategory={project.itCategory} 
        />
    ))}
</div>
