---
import Home2Comp from "../components/Home2Comp.astro";

const projects = [
    { title: "Energyoo", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    category: "Brand identity" },
    
    { title: "By.it", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    category: "Web design" },
    
    { title: "Raw Scenarios", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    category: "Web design" },
    
    { title: "Cinema e Fotografia", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    category: "Editorial" },
    
    { title: "Neptuna", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2024", 
    category: "Speculative design" },
    
    { title: "Saper fare liutaio di cremona", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    category: "Brand identity" },
    
    { title: "Milan Metro Map Redesign concept", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    category: "Cartography" },
    
    { title: "100km studio", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2023", 
    category: "Web design" },
    
    { title: "anatomia dell'orchestra", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2022", 
    category: "Web design" },
    
    { title: "Rappresentazione dell'assenza e dell'essenza del nero", 
    link: "/", 
    img: "/img/home/cremona_14.png", 
    year: "2021", 
    category: "Editorial" }
];
---

<div class="pt-12 px-2">
    {projects.map((project, index) => (
        <Home2Comp 
            title={project.title} 
            link={project.link} 
            num={(index + 1).toString()} 
            year={project.year} 
            img={project.img} 
            category={project.category} 
        />
    ))}
</div>
